.landingpage-section {
  /* border: 1px solid red; */
  padding: 350px 0;
  background: url(../../images/landingpage-wallpaper.jpg) center no-repeat;
  background-size: cover;
}
.footer-content {
  padding: 92px 0;
  background: black;
}
