.landingpage-section {
  padding: 350px 0;
  background: url(../../images/wallpaper.PNG) center no-repeat;
  background-size: cover;
}
.bottom-content {
  padding: 50px 0;
  background: black;
  display: flex;
  justify-content: space-evenly;
}

.info-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.button-subject {
  width: 100%;
  height: 70%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #810000;
  color: #fff;
  outline: none;
  font-family: 'Jomhuria', cursive;
  cursor: pointer;
}

.button-subject:hover {
  transform: scale(1.1);
  transition: all;
}

.header-title {
  font-family: 'Jomhuria', cursive;
  font-size: 50px;
  font-weight: 100;
}

.description {
  font-family: 'Itim', cursive;
  width: 180px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .landingpage-section {
    padding: 250px 0;
    background: url(../../images/wallpaper.PNG) center no-repeat;
    background-size: cover;
  }
  .bottom-content {
    padding: 50px 0;
    background: black;
    display: flex;
    flex-direction: column;
  }

  .button-container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  .button-subject {
    width: 200px;
    height: 70%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #810000;
    color: #fff;
    outline: none;
    font-family: 'Jomhuria', cursive;
    cursor: pointer;
  }
}
