.navbar-container {
  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  background-color: #f3c623;
  position: sticky;
}

.navbar-wrapper {
  /* border: 1px solid green; */
  width: 100%;
}

.nav-menu {
  /* border: 1px solid blue; */
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.nav-item:first-child {
  /* border: 1px solid red; */
  margin-right: 55px;
}
.nav-item:nth-child(4) {
  margin-right: 55px;
}

.nav-item {
}

.nav-link {
  /* border: 1px solid blue; */
  text-decoration: none;
  color: black;
  font-family: 'Itim', cursive;
}

.img-logo {
  /* border: 1px solid orange; */
  width: 80px;
  margin-right: 55px;
  margin-left: 55px;
}
