.footer-container {
  /* border: 1px solid red; */
  height: 25vh;
}

.footer-wrapper {
  /* border: 1px solid blue; */
  height: 70%;
  display: flex;
  align-items: center;
  background-color: #303030;
}

.creator-info {
  /* border: 1px solid red; */
  background-color: #504b4b;
  height: 30%;
}

.address-info {
  /* border: 1px solid red; */
  width: 60%;
  margin-left: 100px;
  color: #fff;
}
.address-info h1 {
  /* border: 1px solid red; */
  font-family: Jomhuria;
  font-size: 50px;
  font-weight: 200;
}
.address-info p {
  /* border: 1px solid red; */
  width: 19%;
  font-family: Itim;
  font-size: 18px;
  font-weight: 200;
}

.address-info span {
  color: #ffa500;
}

.social-medias {
  color: #fff;
}

.social-medias h1 {
  /* border: 1px solid red; */
  font-family: Jomhuria;
  font-size: 50px;
  font-weight: 200;
}

.social-medias i {
  /* border: 1px solid red; */
  margin-bottom: 18px;
  font-size: 25px;
  cursor: pointer;
}

.social-medias i:nth-child(3) {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.creator-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator-info p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 1800px) {
  .address-info p {
    /* border: 1px solid red; */
    width: 23%;
  }
}

@media screen and (max-width: 1500px) {
  .address-info p {
    /* border: 1px solid red; */
    width: 26.7%;
  }
}

@media screen and (max-width: 1250px) {
  .address-info p {
    width: 31%;
  }
}

@media screen and (max-width: 1100px) {
  .address-info p {
    width: 35.7%;
  }
}

@media screen and (max-width: 950px) {
  .address-info p {
    width: 40.7%;
  }
}

@media screen and (max-width: 850px) {
  .address-info p {
    width: 45.7%;
  }
}

@media screen and (max-width: 750px) {
  .address-info {
    width: 50%;
    margin-left: 100px;
    color: #fff;
  }
  .address-info p {
    width: 55.7%;
  }
}

@media screen and (max-width: 720px) {
  .address-info {
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 100px;
    color: #fff;
  }
  .address-info p {
    width: 65.7%;
  }
}
@media screen and (max-width: 620px) {
  .address-info {
    /* border: 1px solid red; */
    width: 45%;
    margin-left: 100px;
    color: #fff;
  }
  .address-info p {
    width: 85.3%;
  }
  .creator-info p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 15px;
  }
}

@media screen and (max-width: 620px) {
  .address-info {
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 60px;
    color: #fff;
  }
  .address-info p {
    /* border: 1px solid red; */
    width: 75.3%;
  }
  .creator-info p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .address-info {
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 60px;
    color: #fff;
  }
  .address-info p {
    width: 85.3%;
  }
  .creator-info p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .address-info {
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 35px;
    color: #fff;
  }
  .address-info p {
    width: 95.3%;
  }
  .creator-info p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .address-info {
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 35px;
    color: #fff;
  }
  .address-info h1 {
    font-size: 35px;
  }
  .address-info p {
    font-size: 15px;

    width: 95.3%;
  }

  .social-medias h1 {
    /* border: 1px solid red; */
    font-family: Jomhuria;
    font-size: 35px;
    font-weight: 200;
  }

  .social-medias i {
    /* border: 1px solid red; */
    margin-bottom: 18px;
    font-size: 22px;
    cursor: pointer;
  }

  .social-medias i:nth-child(3) {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .creator-info p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 10px;
  }
}

@media screen and (max-height: 500px) {
  .address-info {
    /* border: 1px solid red; */
    width: 70%;
    margin-left: 35px;
    color: #fff;
  }
  .address-info h1 {
    font-size: 30px;
  }
  .address-info p {
    font-size: 12px;
    width: 30.3%;
  }

  .social-medias h1 {
    /* border: 1px solid red; */
    font-family: Jomhuria;
    font-size: 30px;
    font-weight: 200;
  }

  .social-medias i {
    /* border: 1px solid red; */
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .social-medias i:nth-child(3) {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .creator-info p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 10px;
  }
}
