.section-content {
  /* padding: 250px 0; */
  height: 140vh;
  /* border: 1px solid red; */
  background-color: #d3e0ea;
}
.apresentation-images {
  /* padding: 60vh; */
}

.images-wrapper {
  /* border: 1px solid orange; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-item {
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 487px;
  height: 260px;
}

.image-item img {
  /* border: 1px solid red; */
  object-fit: cover;
  width: 487px;
  height: 260px;
}
.image-item:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.description-wrapper {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-description:nth-child(2) {
  margin-left: 185px;
  margin-right: 185px;
}

.content-description {
  /* border: 1px solid green; */
  /* margin-top: 10px; */
  width: 330px;
}

.content-description h1 {
  font-family: 'Jomhuria', cursive;
  font-size: 40px;
  text-align: center;
}

.content-description p {
  /* border: 1px solid green; */
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-family: 'Itim', cursive;
}

@media screen and (max-width: 1580px) {
  .image-item:last-child {
    position: absolute;
    margin-top: 460px;
  }
  .content-description:last-child {
    position: absolute;
    margin-top: 445px;
  }

  .image-item:nth-child(2) {
    /* border: 1px solid blue; */
    margin-left: 20px;
    margin-right: 0px;
  }

  .content-description:nth-child(2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1070px) {
  .image-item:last-child {
    /* position: absolute; */
    margin-top: 900px;
  }
  .content-description:last-child {
    /* position: absolute; */
    margin-top: 885px;
  }

  .image-item:nth-child(2) {
    position: absolute;
    margin-top: 460px;
    margin-left: 0px;
  }

  .content-description:nth-child(2) {
    position: absolute;
    margin-top: 445px;
    margin-right: 185px;
  }
}

@media screen and (max-width: 550px) {
  .image-item {
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 387px;
    height: 200px;
  }

  .image-item img {
    /* border: 1px solid red; */
    object-fit: cover;
    width: 387px;
    height: 200px;
  }
}
