.section-content {
  height: 60vh;
  background-color: #d3e0ea;
}

.images-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-item {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 487px;
  height: 260px;
}

.image-item img {
  object-fit: cover;
  width: 487px;
  height: 260px;
}
.image-item:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.description-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-description:nth-child(2) {
  margin-left: 185px;
  margin-right: 185px;
}

.content-description {
  width: 330px;
}

.content-description h1 {
  font-family: 'Jomhuria', cursive;
  font-size: 40px;
  text-align: center;
}

.content-description p {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-family: 'Itim', cursive;
  color: black;
}

@media screen and (max-width: 1580px) {
  .section-content {
    height: 100vh;
    background-color: #d3e0ea;
  }
  .image-item:last-child {
    position: absolute;
    margin-top: 460px;
  }
  .content-description:last-child {
    position: absolute;
    margin-top: 445px;
  }

  .image-item:nth-child(2) {
    margin-left: 20px;
    margin-right: 0px;
  }

  .content-description:nth-child(2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1070px) {
  .section-content {
    height: 140vh;
    background-color: #d3e0ea;
  }

  .image-item:last-child {
    margin-top: 900px;
  }
  .content-description:last-child {
    margin-top: 885px;
  }

  .image-item:nth-child(2) {
    position: absolute;
    margin-top: 460px;
    margin-left: 0px;
  }

  .content-description:nth-child(2) {
    position: absolute;
    margin-top: 445px;
    margin-right: 185px;
  }
}

@media screen and (max-width: 550px) {
  .section-content {
    height: 200vh;
    background-color: #d3e0ea;
  }

  .image-item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 387px;
    height: 200px;
  }

  .image-item img {
    object-fit: cover;
    width: 387px;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .image-item {
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 357px;
    height: 200px;
  }

  .image-item img {
    object-fit: cover;
    width: 357px;
    height: 200px;
  }
}

@media screen and (max-height: 500px) {
  .section-content {
    border: 1px solid red;
    height: 1400px;
    background-color: #d3e0ea;
  }
}

@media screen and (max-height: 1024px) {
  .section-content {
    border: 1px solid red;
    height: 1400px;
    background-color: #d3e0ea;
  }
}
