.about-hero-section {
  height: 95vh;
  /* border: 1px solid red; */
  background-color: #226470;
  display: flex;
  /* flex-direction: column; */
}

.container-info-wrapper {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
}

.container-info {
  /* border: 1px solid blue; */
  background-color: rgba(0, 0, 0, 0.4);
  width: 70%;
  margin-left: 40px;
}

.container-info h1,
p {
  color: white;
}

.container-info h1 {
  font-family: Jomhuria;
  font-size: 50px;
  margin-left: 15px;
}

.container-info p {
  /* border: 1px solid red; */
  /* text-align: left; */
  font-family: Itim;
  width: 95%;
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.container-info span {
  color: #ff0000;
}

.img-container {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 40px; */
}

.img-container img {
  /* border: 1px solid red; */
  margin-bottom: 200px;
}

@media screen and (max-width: 1500px) {
  .container-info-wrapper {
    width: 70%;
  }
  .container-info {
    width: 80%;
  }
  .img-container {
    width: 50%;
  }

  .img-container img {
    /* border: 1px solid red; */
    width: 450px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1300px) {
  .container-info-wrapper {
    /* border: 1px solid red; */
    width: 70%;
  }
  .container-info {
    /* border: 1px solid red; */

    width: 90%;
  }
  .img-container {
    width: 50%;
  }

  .img-container img {
    /* border: 1px solid red; */
    width: 350px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 880px) {
  .about-hero-section {
    flex-direction: column;
  }
}
